<div class="px-5" th:fragment="content">
    <div id="swagger-ui"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.15.5/swagger-ui-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.15.5/swagger-ui-standalone-preset.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (document.getElementById("swagger-ui")) {
                SwaggerUIBundle({
                    url: "/v3/api-docs",
                    dom_id: "#swagger-ui",
                    presets: [SwaggerUIBundle.presets.apis, SwaggerUIBundle.SwaggerUIStandalonePreset],
                    layout: "BaseLayout"
                });
            }
        });
    </script>
</div>
